:root {
  --bg1: #dbeafe;
  --bg2: white;
  --num: 40;
  color: #fff;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

#root {}

.header {
  --bg-offset: 0px;
}
.gra-bg {
  padding-bottom: 6px;
  position: relative;
  background-image: repeating-linear-gradient(to right, hsla(0, 0%, 100%, .3) 0 1px, transparent 1px 5px);
  background-size: 4000px 12px;
  background-repeat: no-repeat;
  background-position: var(--bg-offset) bottom;
  border-bottom: 1px solid hsla(0, 0%, 60%, .3);
  background-clip: content-box;
  box-sizing: border-box;
}

.gra-bg::after {
  position: absolute;
  content: "";
  inset: 0 0 4px 0;
  background-image: repeating-linear-gradient(to right, hsla(0, 0%, 60%, 1) 0 1px, transparent 1px 50px);
  background-size: 4000px 10px;
  background-repeat: no-repeat;
  background-position: var(--bg-offset) bottom;
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

.card {
  --border-width: 1px;
  position: relative;
  background: linear-gradient(116deg, hsla(0, 0%, 100%, .1), transparent);
  backdrop-filter: blur(10px);
  box-shadow: inset 1px 1px 5px hsla(0, 0%, 100%, 0.5);
  border-radius: 5px;
  overflow: hidden;

  // & > div {
  //   position: absolute;
  //   inset: 0;
  //   background: inherit;
  //   border-radius: inherit;
  //   border: var(--border-width) solid transparent;
  //   z-index: 2;
  // }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   inset: 0;
  //   background: conic-gradient(
  //     from var(--angle) at center,
  //     transparent,
  //     #fff 0.05turn,
  //     transparent 0.1turn
  //   );
  //   -webkit-mask-image: linear-gradient(#000 var(--border-width), transparent var(--border-width) calc(100% - var(--border-width)), #000 calc(100% - var(--border-width))),
  //     linear-gradient(to right, #000 var(--border-width), transparent var(--border-width) calc(100% - var(--border-width)), #000 calc(100% - var(--border-width)));
  //   -webkit-mask-repeat: no-repeat;
  //   -webkit-mask-position: center;
  //   animation: spin 3s linear infinite;
  // }
  // @keyframes spin {
  //   100% {
  //     --angle: 360deg;
  //   }
  // }
}

.main {
  position: absolute;
  left: 50%;
  bottom: -250px;
  width: 800px;
  height: 800px;
  transform-style: preserve-3d;
  transform: translate3d(-50%, 0, 600px) rotateX(88deg);
  background-image: -webkit-radial-gradient(center center, farthest-side, hsla(0, 0%, 100%, .4), transparent);

  .card-wp {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 202px;
    height: 213px;
    transform: translate3d(-50%, -50%, 0) rotateX(-90deg);
    transform-origin: center bottom;
    .card-item {
      width: 100%;
      height: 100%;
      position: absolute;
      transform-origin: center center -250px;
      // box-shadow: inset 1px 1px 5px hsla(0, 0%, 100%, 0.5);
      background-image: url(@/bg/card.png);
      background-size: cover;
      background-repeat: no-repeat;
      backdrop-filter: blur(10px);
      transform: scale(0.8);
      animation: container-spin 50s linear infinite;

    }
    @for $i from 1 through 6 {
      .card-item:nth-child(#{$i}) {
        transform: rotateY(calc(#{60 * $i}deg + var(--angle))) scale(0.8);
        // background-color: hsl(60 * $i, 100%, 50%);
      }
    }
  }
}

@keyframes container-spin {

  100% {
    --angle: 360deg;
  }
}
