:root {
  --bg1: #dbeafe;
  --bg2: white;
  --num: 40;
  color: #fff;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.header {
  --bg-offset: 0px;
}
.gra-bg {
  padding-bottom: 6px;
  position: relative;
  background-image: repeating-linear-gradient(to right, hsla(0, 0%, 100%, .3) 0 1px, transparent 1px 5px);
  background-size: 4000px 12px;
  background-repeat: no-repeat;
  background-position: var(--bg-offset) bottom;
  border-bottom: 1px solid hsla(0, 0%, 60%, .3);
  background-clip: content-box;
  box-sizing: border-box;
}

.gra-bg::after {
  position: absolute;
  content: "";
  inset: 0 0 4px 0;
  background-image: repeating-linear-gradient(to right, hsla(0, 0%, 60%, 1) 0 1px, transparent 1px 50px);
  background-size: 4000px 10px;
  background-repeat: no-repeat;
  background-position: var(--bg-offset) bottom;
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

.card {
  --border-width: 1px;
  position: relative;
  background: linear-gradient(116deg, hsla(0, 0%, 100%, .1), transparent);
  backdrop-filter: blur(10px);
  box-shadow: inset 1px 1px 5px hsla(0, 0%, 100%, 0.5);
  border-radius: 5px;
  overflow: hidden;
}

.main {
  position: absolute;
  left: 50%;
  bottom: -150px;
  width: 800px;
  height: 800px;
  transform-style: preserve-3d;
  transform: translate3d(-50%, 0, 600px) rotateX(88deg);
  background-image: -webkit-radial-gradient(center center, farthest-side, hsla(0, 0%, 100%, .4), transparent);
  // animation: container-spin 50s linear infinite;

  .card-wp {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 202px;
    height: 213px;
    transform: translate3d(-50%, -50%, 0) rotateX(-95deg);
    transform-origin: center bottom;

    .card-item {
      width: 100%;
      height: 100%;
      position: absolute;
      transform-origin: center center -200px;
      // box-shadow: inset 1px 1px 5px hsla(0, 0%, 100%, 0.5);
      background-size: contain;
      background-repeat: no-repeat;
      backdrop-filter: blur(10px);
      transform: scale(0.75);

    }
    @for $i from 1 through 5 {
      .card-item:nth-child(#{$i}) {
        transform: rotateY(calc(#{72 * $i}deg + var(--angle))) scale(0.75);
        // background-color: hsl(60 * $i, 100%, 50%);
      }
    }
  }
}

.droplen {
  position: absolute;
  top: 600px;
  right: 130px;
  padding: 21px 27px;
  width: 260px;
  border-radius: 12px;
  color: hsla(0, 0%, 100%, .8);
  font-size: 14px;
  background: radial-gradient(67% 67% at 108% 148%, rgba(219,225,240,0.23) 5%, rgba(219,225,240,0.00) 99%),
    radial-gradient(146% 146% at -24% -56%, #0B183A 0%, rgba(157,175,227,0.00) 99%);
  backdrop-filter: blur(12px);
  transform: translate3d(-30px, 0, 100px) rotateY(-24deg);

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border: 1px solid transparent;
    background: linear-gradient(var(--angle),rgba(255,255,255,0.63) 0%, rgba(0,0,0,0.23) 100%) border-box;
    -webkit-mask: /*4*/
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; /*5'*/
          mask-composite: exclude; /*5*/
    box-sizing: border-box;
    border-radius: inherit;
    animation: container-spin 2s linear infinite;

  }
  // 徽标
  .brand {
    position: relative;
    border-radius: 17px;
    padding: 8px 14px 8px 30px;
    &::after {
      position: absolute;
      content: '';
      inset: 0;
      border: 1px solid transparent;
      border: 1px solid transparent;
      background: linear-gradient(180deg,rgba(255,255,255,0.63) 0%, rgba(0,0,0,0.23) 100%) border-box;
      -webkit-mask: /*4*/
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor; /*5'*/
            mask-composite: exclude; /*5*/
      box-sizing: border-box;
      border-radius: inherit;

    }
    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 8px;
      transform: translate(0, -10px);
      width: 17px;
      height: 17px;
      background-image: url(@/bg/brand.png);
      background-repeat: no-repeat;
      background-size: contain;
      filter: drop-shadow(#3A9DE2 0px 0px 8px);
    }
  }
  .bg-block {
    position: absolute;
    left: 60px;
    top: -15px;
    width: 417.63px;
    height: 126.54px;
    transform: rotate(-150deg);
    opacity: 0.03;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255,255,255,0.00) 100%);
  }
}

@keyframes container-spin {

  100% {
    --angle: 360deg;
  }
}
